# исключить все файлы с расширением .а
 *.a

# Но отслеживать файл lib.a
!lib.a

# Исключить файл TODO в корневой директории, но не файл в subdir/TODO
/TODO


# Игнорирование всех файлов в папке build/
build/

# Игнорировать файл doc/notes.txt, но не файл doc/server/notes.txt
doc/*.txt

# Игнорировать все файлы .txt в папке doc/
doc/**/*.txt
